
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.fleft {
	display: block;
	float: left;
}

.fright {
	display: block;
	float: right;
}

$main-font-size: 14;

body{
	@include text-regular($main-font-size);
}
